.profile {
}

.profile__image {
  background: #c4c4c4;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  grid-area: avatar;
}

.profile__container {
  max-width: 880px;
  margin: 40px auto 0;
  display: grid;
  /* grid-template-columns: 120px 403px 42px 315px;
  grid-template-rows: 60px 60px; */
  grid-template-areas: "avatar info plus";
}

.profile__namebtn {
  width: 373px;
  grid-area: info;
}

.profile__top {
  width: 500px;
  display: flex;
  align-items: baseline;
}

.profile__name {
  width: 373px;
  height: 50px;
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 22px 0 16px 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__edit-button {
  border: #ffffff 1px solid;
  margin: 0;
  width: 24px;
  background: none;
  border: 0;
  outline: none;
}

.profile__area {
  font-family: "Inter", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  margin-left: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  margin: 34px 0 34px 20px;
  padding: 0;
  border: 2px solid #ffffff;
  background: none;
  grid-area: plus;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__image:hover {
  opacity: 60%;
}

.profile__avatar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.profile__avatar-edit {
  width: 26px;
  height: 26px;
  position: absolute;
  opacity: 0;
  background-color: transparent;
}

.profile__avatar-container:hover .profile__image {
  opacity: 0.3;
}

.profile__avatar-container:hover .profile__avatar-edit {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .profile {
    margin: 42px auto 36px;
  }

  .profile__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "avatar"
      "info"
      "plus";
    text-align: center;
  }

  .profile__image {
    margin-bottom: 20px;
  }

  .profile__namebtn {
    width: 100%;
  }

  .profile__top {
    width: 100%;
    justify-content: center;
  }

  .profile__name {
    font-size: 22px;
    line-height: 26px;
    width: min-content;
    height: min-content;
    font-size: 22px;
  }

  .profile__edit-button {
    margin-left: 10px;
    margin-top: 0px;
  }

  .profile__area {
    font-size: 14px;
    line-height: 17px;
  }

  .profile__add-button {
    width: 80%;
    height: 34px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
